* {
	padding: 0;
	margin: 0px;
}

#wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	/*background-color: yellow;*/
}

#container {
	position: absolute;
	padding: 5%;
	width: 90%;
	height: 90%;
	left: 0;
	right: 0;
	margin: auto;
	/*background-color: blue;*/
}

#container div {
	display: block;
	margin: 50px;
}

#square {
	width: 100px;
	height: 100px;
	background: black;
}

#rectangle {
	width: 200px;
	height: 100px;
	background: black;
}

#circle {
	width: 100px;
	height: 100px;
	background: black;
	border-radius: 50%;
}

#oval {
	width: 200px;
	height: 100px;
	background: black;
	border-radius: 100px / 50px;
}

#triangle-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid black;
}

#triangle-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid black;
}

#triangle-left {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid black;
	border-bottom: 50px solid transparent;
}

#triangle-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid black;
	border-bottom: 50px solid transparent;
}

#triangle-topleft {
	width: 0;
	height: 0;
	border-top: 100px solid black;
	border-right: 100px solid transparent;
	/*border-left: 100px solid transparent; test to see what it looks like*/
}

#triangle-topright {
	width: 0;
	height: 0;
	border-top: 100px solid black;
	border-left: 100px solid transparent;
}

#triangle-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 100px solid black;
	border-right: 100px solid transparent;
}

#triangle-bottomright {
	width: 0;
	height: 0;
	border-bottom: 100px solid black;
	border-left: 100px solid transparent;
}

#curvedarrow {
	position: relative;
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-right: 9px solid black;
	transform: rotate(10deg);
}

#curvedarrow:after {
	content: "";
	position: absolute;
	border: 0 solid transparent;
	border-top: 3px solid black;
	border-radius: 20px 0 0 0;
	top: -12px;
	left: -9px;
	width: 12px;
	height: 12px;
	transform: rotate(45deg);
}

#trapezoid {
	border-bottom: 100px solid black;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 100px;
}

#parallelogram {
	width: 150px;
	height: 100px;
	transform: skew(20deg);
	background: black;
}

#star-six {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid black;
	position: relative;
}

#star-six:after {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid black;
	position: absolute;
	content: "";
	top: 30px;
	left: -50px;
}

#fleamarkettriforceforboyfran {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid black;
	position: relative;
}

#fleamarkettriforceforboyfran:after {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 60px solid yellow;
	position: absolute;
	content: "";
	top: 40px;
	left: -20px;
}

#star-five {
	/*margin: 50px 0;*/
	position: relative;
	display: block;
	top: 60px;
	color: black;
	width: 0;
	height: 0;
	border-right: 100px solid transparent;
	border-bottom: 70px solid black;
	border-left: 100px solid transparent;
	transform: rotate(35deg);
}

#star-five:before {
	border-bottom: 80px solid black;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -45px;
	left: -65px;
	display: block;
	content: "";
	transform: rotate(-35deg);
}

#star-five:after {
	position: absolute;
	display: block;
	color: black;
	top: 3px;
	left: -105px;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid black;
	border-left: 100px solid transparent;
	transform: rotate(-70deg);
	content: "";
}

#pentagon {
	position: relative;
	top: 150px;
	width: 54px;
	box-sizing: content-box;
	border-width: 50px 18px 0;
	border-style: solid;
	border-color: black transparent;
}

#pentagon:before {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	top: -85px;
	left: -18px;
	border-width: 0 45px 35px;
	border-style: solid;
	border-color: transparent transparent black;
}

#hexagon {
	top: 200px;
	width: 100px;
	height: 55px;
	background: black;
	position: relative;
}

#hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid black;
}

#hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid black;
}

#cube {
	content: "";
	position: absolute;
	bottom: 30px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid blue;
}

#octagon {
	top: 250px;
	width: 100px;
	height: 100px;
	background: black;
	position: relative;
}

#octagon:before {
	content: "";
	width: 42px; /*ref says 100px, but the inspector shows 42px*/
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 29px solid black;
	border-left: 29px solid white;
	border-right: 29px solid white;
}

#octagon:after {
	content: "";
	width: 42px; /*ref says 100px, but the inspector shows 42px*/
	height: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 29px solid black;
	border-left: 29px solid white;
	border-right: 29px solid white;
}

#heart {
	position: relative;
	top: 300px;
	width: 100px;
	height: 90px;
}

#heart:before,
#heart:after {
	position: absolute;
	content: "";
	left: 50px;
	top: 0;
	width: 50px;
	height: 80px;
	background: red;
	border-radius: 50px 50px 0 0;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
}
#heart:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}

#infinity {
	position: relative;
	top: 375px;
	width: 212px;
	height: 100px;
	box-sizing: content-box;
}

#infinity:before,
#infinity:after {
	content: "";
	box-sizing: content-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	border: 20px solid black;
	border-radius: 50px 50px 0 50px;
	transform: rotate(-45deg);
}

#infinity:after {
	left: auto;
	right: 0;
	border-radius: 50px 50px 50px 0;
	transform: rotate(45deg);
}

#diamond {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom-color: black;
	position: relative;
	top: 400px;
}

#diamond:after {
	content: "";
	position: absolute;
	left: -50px;
	top: 50px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color: black;
}

#diamond-shield {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom: 20px solid black;
	position: relative;
	top: 450px;
}

#diamond-shield:after {
	content: "";
	position: absolute;
	left: -50px;
	top: 20px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top: 70px solid black;
}

#diamond-narrow {
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-bottom: 70px solid black;
	position: relative;
	top: 475px;
}

#diamond-narrow:after {
	content: "";
	position: absolute;
	left: -50px;
	top: 70px;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top: 70px solid black;
}

#cut-diamond {
	border-style: solid;
	border-color: transparent transparent black transparent;
	border-width: 0 25px 25px 25px;
	height: 0;
	width: 50px;
	box-sizing: content-box;
	position: relative;
	margin: 20px 0 50px 0;
	top: 550px;
}

#cut-diamond:after {
	content: "";
	position: absolute;
	top: 25px;
	left: -25px;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: black transparent transparent transparent;
	border-width: 70px 50px 0 50px;
}

#egg {
	position: relative;
	width: 126px;
	height: 180px;
	background-color: black;
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
	top: 600px;
}

#pacman {
	position: relative;
	width: 0px;
	height: 0px;
	border-right: 60px solid transparent;
	border-top: 60px solid black;
	border-left: 60px solid black;
	border-bottom: 60px solid black;
	border-top-left-radius: 60px;
	border-top-right-radius: 60px;
	border-bottom-left-radius: 60px;
	border-bottom-right-radius: 60px;
	top: 650px;
}

#talkbubble {
	width: 120px;
	height: 80px;
	background: black;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	top: 750px;
}

#talkbubble:before {
	content: "";
	position: absolute;
	right: 100%;
	top: 26px;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-right: 26px solid black;
	border-bottom: 13px solid transparent;
}

#burst-12 {
	background: black;
	width: 80px;
	height: 80px;
	position: relative;
	text-align: center;
	top: 850px;
}

#burst-12:before,
#burst-12:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 80px;
	width: 80px;
	background: black;
}

#burst-12:before {
	transform: rotate(30deg);
}

#burst-12:after {
	transform: rotate(60deg);
}

#yin-yang {
	width: 96px;
	box-sizing: content-box;
	height: 48px;
	background: white;
	border-color: black;
	border-style: solid;
	border-width: 2px 2px 50px 2px;
	border-radius: 100%;
	position: relative;
	top: 950px;
}

#yin-yang:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	background: white;
	border: 18px solid black;
	border-radius: 100%;
	width: 12px;
	height: 12px;
	box-sizing: content-box;
}

#yin-yang:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background: black;
	border: 18px solid white;
	border-radius: 100%;
	width: 12px;
	height: 12px;
	box-sizing: content-box;
}

#badge-ribbon {
	position: relative;
	background-color: black;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	top: 1050px;
}

#badge-ribbon:before,
#badge-ribbon:after {
	content: "";
	position: absolute;
	border-bottom: 70px solid black;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	top: 70px;
	left: -10px;
	transform: rotate(-140deg);
}

#badge-ribbon:after {
	left: auto;
	right: -10px;
	transform: rotate(140deg);
}

#space-invader {
	box-shadow: 0 0 0 1em black,
	 0 1em 0 1em black,
      -2.5em 1.5em 0 .5em black,
      2.5em 1.5em 0 .5em black,
      -3em -3em 0 0 black,
      3em -3em 0 0 black,
      -2em -2em 0 0 black,
      2em -2em 0 0 black,
      -3em -1em 0 0 black,
      -2em -1em 0 0 black,
      2em -1em 0 0 black,
      3em -1em 0 0 black,
      -4em 0 0 0 black,
      -3em 0 0 0 black,
      3em 0 0 0 black,
      4em 0 0 0 black,
      -5em 1em 0 0 black,
      -4em 1em 0 0 black,
      4em 1em 0 0 black,
      5em 1em 0 0 black,
      -5em 2em 0 0 black,
      5em 2em 0 0 black,
      -5em 3em 0 0 black,
      -3em 3em 0 0 black,
      3em 3em 0 0 black,
      5em 3em 0 0 black,
      -2em 4em 0 0 black,
      -1em 4em 0 0 black,
      1em 4em 0 0 black,
      2em 4em 0 0 black;
	background: black;
	width: 1em;
	height: 1em;
	overflow: hidden;
	margin: 50px 0 70px 65px;
	top: 1150px;
	position: relative;
}

#tv {
	position: relative;
	width: 200px;
	height: 150px;
  margin: 20px 0;
  background: black;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
  top: 1250px;
}

#tv:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

#chevron {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 60px;
  width: 200px;
  top: 1350px;
}

#chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: black;
  transform: skew(0deg, 6deg);
}

#chevron:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: black;
  transform: skew(0deg, -6deg);
}

#magnifying-glass {
	font-size: 10em;
	display: inline-block;
	width: 0.4em;
	box-sizing: content-box;
	height: 0.4em;
	border: 0.1em solid black;
	position: relative;
	border-radius: 0.35em;
	top: 1450px;
}

#magnifying-glass:before {
	content: "";
	display: inline-block;
	position: absolute;
	right: -0.25em;
	bottom: -0.1em;
	border-width: 0;
	background: black;
	width: 0.35em;
	height: 0.08em;
	transform: rotate(45deg);
}

#facebook-icon {
	background: black;
	text-indent: -999em;
	width: 100px;
	height: 110px;
	box-sizing: content-box;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	border: 15px solid black;
	border-botton: 0;
	top: 1550px;
}

#facebook-icon:before {
	content: "/20";
	position: absolute;
	background: black;
	width: 40px;
	height: 90px;
	bottom: -30px;
	right: -37px;
	border: 20px solid white;
	border-radius: 25px;
	box-sizing: content-box;
}

#facebook-icon:after {
	content: "/20";
	position: absolute;
	width: 55px;
	top: 50px;
	height: 20px;
	background: white;
	right: 5px;
	box-sizing: content-box;
}

#moon {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-shadow: 15px 15px 0 0 black;
	top: 1650px;
}

#flag {
	width: 110px;
	height: 56px;
	box-sizing: content-box;
	padding-top: 15px;
	position: relative;
	background: black;
	color: white;
	font-size: 11px;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
	top: 1750px;
}

#flag:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-bottom: 13px solid white;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
}